<HTML>
    <BODY bgcolor="cyan">
    <form method="POST" action="/">
        <center>
        <H1>Welcome to the Vet program </H1> <br>
        
        <input type = "submit" name="owner" value="Add an owner to the database"> <br>
        <input type = "submit" name="viewpets" value="View all pets"><br>
        <input type = "submit" name="viewowner" value="View all owners"><br>
        <input type = "submit" name="viewvisit" value="View visits"><br>
        <input type = "submit" name="addvisit" value="Add a visit"><br>
        <input type = "submit" name="addpet" value="Add a pet"><br>

		</center>
    </form>
    </BODY>
    </HTML>