<HTML>
    <BODY bgcolor="cyan">
    <form method="POST" action="/owner">
        <center>
        <H1>Add new owner</H1> <br>
		
        Surname <input type = "text" name= "Surname" /> <br>
		FirstName <input type = "text" name= "FirstName" /> <br>
		Address <input type = "text" name= "Address" /> <br>
		Address2 <input type = "text" name= "Address2" /> <br>
		Phone <input type = "text" name= "Phone" /> <br>
		
        
		
		
		
		</br>

        <input type = "submit" name="submit" value="Add owner">
        <input type = "submit" name="cancel" value="Cancel">
        </center>
    </form>
    </BODY>
    </HTML>